In [1]:
import pandas as pd

In [10]:
data=pd.read_csv('./data/n40e_node.csv', float_precision='round_trip')

In [11]:
data.describe()

,Id,X,Y,Z,pressure,temperature,depth,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,depth_below_wt
count,127449.000000,127449.000000,127449.000000,127449.000000,1.274490e+05,127449.000000,127449.000000,1.274490e+05,1.274490e+05,1.274490e+05,1.274490e+05,1.274490e+05,1.274490e+05,127449.000000
mean,63724.000000,2000.000000,2000.000000,-376.000000,1.873044e+07,450.416959,2054.224202,-4.428907e+07,-3.492181e+07,-2.834829e+07,-2.555864e+07,-1.619137e+07,-9.617856e+06,1949.007647
std,36791.501566,1177.572735,1177.572735,1131.375288,1.087857e+07,62.995666,1132.635458,2.441962e+07,1.925480e+07,1.563037e+07,1.354379e+07,8.379729e+06,4.756801e+06,1132.375333
min,0.000000,0.000000,0.000000,-2296.000000,1.013250e+05,323.150000,35.271242,-8.867295e+07,-6.991838e+07,-5.675727e+07,-4.989358e+07,-3.127636e+07,-1.836012e+07,-30.064704
25%,31862.000000,960.000000,960.000000,-1336.000000,9.273462e+06,397.980000,1074.295128,-6.541298e+07,-5.157795e+07,-4.186916e+07,-3.726533e+07,-2.343566e+07,-1.371555e+07,965.041706
50%,63724.000000,2000.000000,2000.000000,-376.000000,1.869320e+07,457.780000,2056.037810,-4.432818e+07,-3.495264e+07,-2.837332e+07,-2.555744e+07,-1.618654e+07,-9.612952e+06,1945.305898
75%,95586.000000,3040.000000,3040.000000,584.000000,2.820853e+07,507.140000,3033.997263,-2.316180e+07,-1.826302e+07,-1.482527e+07,-1.385670e+07,-8.953497e+06,-5.519811e+06,2935.517430
max,127448.000000,4000.000000,4000.000000,1544.000000,3.878688e+07,535.880000,4112.845681,-7.604480e+05,-5.996111e+05,-4.867431e+05,-6.591230e+05,-4.982861e+05,-3.854181e+05,4036.351535

All is good.  BUT...because the file is so big, it can't be edited in Excel, so need to add some additional columns to the file now, and then later add the 10 row header that is usually written by Leapfrog

Add the disp_k_bc	disp_j_bc	disp_i_bc	vertical	h_max	h_min columns

In [4]:
data.insert(loc=8, column='disp_k_bc', value=1)

In [6]:
data.insert(loc=9, column='disp_j_bc', value=1)

In [7]:
data.insert(loc=10, column='disp_i_bc', value=1)

In [8]:
data.insert(loc=11, column='vertical', value=1)

In [9]:
data.insert(loc=12, column='h_max', value=1)

In [10]:
data.insert(loc=13, column='h_min', value=1)

In [11]:
data.rename(columns={'temperature_C': 'temperature'}, inplace=True)

In [12]:
data.rename(columns={'pressure_MPa': 'pressure'}, inplace=True)

now check the file

In [13]:
data.head()

,Id,X,Y,Z,dX,dY,dZ,pressure,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,sigma_h_max_MPa,sigma_h_min_MPa,Sigma_V_MPa,temperature
0,0,50,420,-1475,10,10,10,27.667349,1,1,1,1,1,1,54.383797,47.417642,78.659853,226.074346
1,1,60,420,-1475,10,10,10,27.666658,1,1,1,1,1,1,54.381446,47.412370,78.656734,226.210827
2,2,70,420,-1475,10,10,10,27.666128,1,1,1,1,1,1,54.381283,47.408446,78.656918,226.350794
3,3,80,420,-1475,10,10,10,27.665727,1,1,1,1,1,1,54.383207,47.405856,78.660337,226.494008
4,4,90,420,-1475,10,10,10,27.665387,1,1,1,1,1,1,54.386726,47.404308,78.666232,226.640055

now sort so values are in correct order for em2ex

In [12]:
a = data.sort_values(["Z","Y","X"], ascending = [True, True, True])

In [7]:
a.head()

,Id,X,Y,Z,pressure,temperature_K,depth,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,depth_below_wt
0,0,0,0,-2296,36616764.63,508.64,3888.058474,-8.382654e+07,-6.765222e+07,-5.676565e+07,-4.720978e+07,-3.103545e+07,-2.014889e+07,3810.519152
2,2499,80,0,-2296,36622110.35,509.96,3890.393152,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3811.075453
6,4998,160,0,-2296,36627815.37,511.28,3892.429949,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3811.669145
12,7497,240,0,-2296,36633797.36,512.59,3894.237728,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3812.291661
19,9996,320,0,-2296,36640112.56,513.88,3896.918477,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3812.948851

now we have all the needed columns in the dataframe.  Now can populate the new columns with data, and also fix the pressure and temperature

In [16]:
a['temperature'] =+ a['temperature'] + 273.15

In [17]:
a['pressure'] = a['pressure']* 1e6

In [18]:
a['disp_k_bc'] = (a['Sigma_V_MPa'] * -1e6)

In [19]:
a['disp_j_bc'] = (a['sigma_h_max_MPa'] * -1e6)

In [20]:
a['disp_i_bc'] = (a['sigma_h_min_MPa'] * -1e6)

to get IC for effective stress, must convert total to negtive and Pa, the add pressure.  Note that alpha (0.6) was already factored into the calculation of total stress, so we don't need to worry about it converting back into MOOSE conventions

In [21]:
a['vertical'] = (a['Sigma_V_MPa'] * -1e6) + (a['pressure'])

In [22]:
a['h_max'] = (a['sigma_h_max_MPa'] * -1e6) + (a['pressure'])

In [23]:
a['h_min'] = (a['sigma_h_min_MPa'] * -1e6) + (a['pressure'])

In [24]:
a.head()

,Id,X,Y,Z,dX,dY,dZ,pressure,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,sigma_h_max_MPa,sigma_h_min_MPa,Sigma_V_MPa,temperature
0,0,50,420,-1475,10,10,10,27667348.9,-78659853.2,-54383797.3,-47417642.2,-50992504.3,-26716448.4,-19750293.3,54.383797,47.417642,78.659853,499.224346
1,1,60,420,-1475,10,10,10,27666657.9,-78656733.8,-54381446.3,-47412369.6,-50990075.9,-26714788.4,-19745711.7,54.381446,47.412370,78.656734,499.360827
2,2,70,420,-1475,10,10,10,27666128.4,-78656918.4,-54381283.4,-47408446.2,-50990790.0,-26715155.0,-19742317.8,54.381283,47.408446,78.656918,499.500794
3,3,80,420,-1475,10,10,10,27665726.5,-78660336.9,-54383207.2,-47405856.2,-50994610.4,-26717480.7,-19740129.7,54.383207,47.405856,78.660337,499.644008
4,4,90,420,-1475,10,10,10,27665386.7,-78666231.6,-54386726.3,-47404308.1,-51000844.9,-26721339.6,-19738921.4,54.386726,47.404308,78.666232,499.790055

now we can delete some columns

In [25]:
del a['sigma_h_max_MPa']

In [26]:
del a['sigma_h_min_MPa']

In [27]:
del a['Sigma_V_MPa']

and now the dataframe should be ready for em2ex

In [28]:
a.head()

,Id,X,Y,Z,dX,dY,dZ,pressure,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,temperature
0,0,50,420,-1475,10,10,10,27667348.9,-78659853.2,-54383797.3,-47417642.2,-50992504.3,-26716448.4,-19750293.3,499.224346
1,1,60,420,-1475,10,10,10,27666657.9,-78656733.8,-54381446.3,-47412369.6,-50990075.9,-26714788.4,-19745711.7,499.360827
2,2,70,420,-1475,10,10,10,27666128.4,-78656918.4,-54381283.4,-47408446.2,-50990790.0,-26715155.0,-19742317.8,499.500794
3,3,80,420,-1475,10,10,10,27665726.5,-78660336.9,-54383207.2,-47405856.2,-50994610.4,-26717480.7,-19740129.7,499.644008
4,4,90,420,-1475,10,10,10,27665386.7,-78666231.6,-54386726.3,-47404308.1,-51000844.9,-26721339.6,-19738921.4,499.790055

now can write the data to a CSV file.

In [13]:
a.to_csv("processed_n40e_node.csv", encoding='utf-8', index=False)

In [30]:
a.describe().to_csv("processed_local_large_well_3_1b_node_Summary.csv")

now need to read into leapfrog and verify all the mpaaings