In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('large_well_3-1c_node.csv', skiprows = 10, float_precision='round_trip')

In [3]:
data.describe()

,Id,X,Y,Z,dX,dY,dZ,pressure_MPa,sigma_h_max_MPa,sigma_h_min_MPa,Sigma_V_MPa,temperature_C
count,3.996081e+06,3.996081e+06,3.996081e+06,3.996081e+06,3996081.0,3996081.0,3996081.0,3.996081e+06,3.996081e+06,3.996081e+06,3.996081e+06,3.996081e+06
mean,1.998040e+06,1.800000e+03,1.285000e+03,-4.750000e+02,10.0,10.0,10.0,1.907139e+01,3.791012e+01,3.208800e+01,5.420845e+01,1.944122e+02
std,1.153569e+06,4.070218e+02,4.070218e+02,5.802299e+02,0.0,0.0,0.0,5.015264e+00,1.011846e+01,8.509904e+00,1.549828e+01,3.737505e+01
min,0.000000e+00,1.100000e+03,5.850000e+02,-1.475000e+03,10.0,10.0,10.0,1.009267e+01,1.907780e+01,1.617561e+01,2.613072e+01,1.117321e+02
25%,9.990200e+05,1.450000e+03,9.350000e+02,-9.750000e+02,10.0,10.0,10.0,1.473932e+01,2.918667e+01,2.475745e+01,4.080464e+01,1.634062e+02
50%,1.998040e+06,1.800000e+03,1.285000e+03,-4.750000e+02,10.0,10.0,10.0,1.917151e+01,3.787501e+01,3.206138e+01,5.417420e+01,1.956623e+02
75%,2.997060e+06,2.150000e+03,1.635000e+03,2.500000e+01,10.0,10.0,10.0,2.343143e+01,4.664333e+01,3.943993e+01,6.761500e+01,2.267904e+02
max,3.996080e+06,2.500000e+03,1.985000e+03,5.250000e+02,10.0,10.0,10.0,2.757207e+01,5.584870e+01,4.706967e+01,8.139590e+01,2.615450e+02

All is good.  BUT...because the file is so big, it can't be edited in Excel, so need to add some additional columns to the file now, and then later add the 10 row header that is usually written by Leapfrog

Add the disp_k_bc	disp_j_bc	disp_i_bc	vertical	h_max	h_min columns

In [4]:
data.insert(loc=8, column='disp_k_bc', value=1)

In [5]:
data.insert(loc=9, column='disp_j_bc', value=1)

In [6]:
data.insert(loc=10, column='disp_i_bc', value=1)

In [13]:
data.insert(loc=11, column='vertical', value=1)

In [14]:
data.insert(loc=12, column='h_max', value=1)

In [15]:
data.insert(loc=13, column='h_min', value=1)

In [11]:
data.rename(columns={'temperature_C': 'temperature'}, inplace=True)

In [9]:
data.rename(columns={'pressure_MPa': 'pressure'}, inplace=True)

now check the file

In [16]:
data.head()

,Id,X,Y,Z,dX,dY,dZ,pressure,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,sigma_h_max_MPa,sigma_h_min_MPa,Sigma_V_MPa,temperature
0,0,1100,585,-1475,10,10,10,27.572070,1,1,1,1,1,1,54.939433,47.009890,79.925471,246.852495
1,1,1110,585,-1475,10,10,10,27.570936,1,1,1,1,1,1,54.944346,47.003581,79.936598,247.093693
2,2,1120,585,-1475,10,10,10,27.569783,1,1,1,1,1,1,54.949519,46.997433,79.947922,247.339122
3,3,1130,585,-1475,10,10,10,27.568627,1,1,1,1,1,1,54.955180,46.991601,79.959872,247.589842
4,4,1140,585,-1475,10,10,10,27.567481,1,1,1,1,1,1,54.961259,46.986014,79.972388,247.846752

now sort so values are in correct order for em2ex

In [18]:
a = data.sort_values(["Z","Y","X"], ascending = [True, True, True])

In [19]:
a.head()

,Id,X,Y,Z,dX,dY,dZ,pressure,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,sigma_h_max_MPa,sigma_h_min_MPa,Sigma_V_MPa,temperature
0,0,1100,585,-1475,10,10,10,27.572070,1,1,1,1,1,1,54.939433,47.009890,79.925471,246.852495
1,1,1110,585,-1475,10,10,10,27.570936,1,1,1,1,1,1,54.944346,47.003581,79.936598,247.093693
2,2,1120,585,-1475,10,10,10,27.569783,1,1,1,1,1,1,54.949519,46.997433,79.947922,247.339122
3,3,1130,585,-1475,10,10,10,27.568627,1,1,1,1,1,1,54.955180,46.991601,79.959872,247.589842
4,4,1140,585,-1475,10,10,10,27.567481,1,1,1,1,1,1,54.961259,46.986014,79.972388,247.846752

now we have all the needed columns in the dataframe.  Now can populate the new columns with data, and also fix the pressure and temperature

In [20]:
a['temperature'] =+ a['temperature'] + 273.15

In [24]:
a['pressure'] = a['pressure']* 1e6

In [26]:
a['disp_k_bc'] = (a['Sigma_V_MPa'] * -1e6)

In [28]:
a['disp_j_bc'] = (a['sigma_h_max_MPa'] * -1e6)

In [30]:
a['disp_i_bc'] = (a['sigma_h_min_MPa'] * -1e6)

to get IC for effective stress, must convert total to negtive and Pa, the add pressure.  Note that alpha (0.6) was already factored into the calculation of total stress, so we don't need to worry about it converting back into MOOSE conventions

In [38]:
a['vertical'] = (a['Sigma_V_MPa'] * -1e6) + (a['pressure'])

In [40]:
a['h_max'] = (a['sigma_h_max_MPa'] * -1e6) + (a['pressure'])

In [41]:
a['h_min'] = (a['sigma_h_min_MPa'] * -1e6) + (a['pressure'])

In [42]:
a.head()

,Id,X,Y,Z,dX,dY,dZ,pressure,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,sigma_h_max_MPa,sigma_h_min_MPa,Sigma_V_MPa,temperature
0,0,1100,585,-1475,10,10,10,27572069.9,-79925470.7,-54939432.9,-47009889.8,-52353400.8,-27367363.0,-19437819.9,54.939433,47.009890,79.925471,520.002495
1,1,1110,585,-1475,10,10,10,27570936.3,-79936597.6,-54944346.1,-47003580.9,-52365661.3,-27373409.8,-19432644.6,54.944346,47.003581,79.936598,520.243693
2,2,1120,585,-1475,10,10,10,27569783.5,-79947922.1,-54949518.8,-46997433.1,-52378138.6,-27379735.3,-19427649.6,54.949519,46.997433,79.947922,520.489122
3,3,1130,585,-1475,10,10,10,27568627.0,-79959872.1,-54955180.1,-46991601.3,-52391245.1,-27386553.1,-19422974.3,54.955180,46.991601,79.959872,520.739842
4,4,1140,585,-1475,10,10,10,27567481.5,-79972388.2,-54961259.4,-46986014.1,-52404906.7,-27393777.9,-19418532.6,54.961259,46.986014,79.972388,520.996752

now we can delete some columns

In [43]:
del a['sigma_h_max_MPa']

In [44]:
del a['sigma_h_min_MPa']

In [45]:
del a['Sigma_V_MPa']

and now the dataframe should be ready for em2ex

In [46]:
a.head()

,Id,X,Y,Z,dX,dY,dZ,pressure,disp_k_bc,disp_j_bc,disp_i_bc,vertical,h_max,h_min,temperature
0,0,1100,585,-1475,10,10,10,27572069.9,-79925470.7,-54939432.9,-47009889.8,-52353400.8,-27367363.0,-19437819.9,520.002495
1,1,1110,585,-1475,10,10,10,27570936.3,-79936597.6,-54944346.1,-47003580.9,-52365661.3,-27373409.8,-19432644.6,520.243693
2,2,1120,585,-1475,10,10,10,27569783.5,-79947922.1,-54949518.8,-46997433.1,-52378138.6,-27379735.3,-19427649.6,520.489122
3,3,1130,585,-1475,10,10,10,27568627.0,-79959872.1,-54955180.1,-46991601.3,-52391245.1,-27386553.1,-19422974.3,520.739842
4,4,1140,585,-1475,10,10,10,27567481.5,-79972388.2,-54961259.4,-46986014.1,-52404906.7,-27393777.9,-19418532.6,520.996752

now can write the data to a CSV file.

In [47]:
a.to_csv("processed_local_large_well_3_1c_node.csv", encoding='utf-8', index=False)

In [48]:
a.describe().to_csv("processed_local_large_well_3_1c_node_Summary.csv")

now need to read into leapfrog and verify all the mpaaings